.nav {
  padding: 4vw;
  color: black;
  border: 1px;
  font-size: 3vw;
}
.blue-text{
  font-size: 2vw;
  color: #6F93AD;
}
.flag{
  width: 5%;
  
}

.hm-head > h1 {
  font-size: 3vw;
  color: black;
  padding: 3vw;
}
.home-img > img {
  width: 50vw;
  padding: 3vw;
  justify-content: right;
}

.HISTORY {
  font-size: 3vw;
  color: #567489;
  padding: 3vw;
}
